# Explore the Datasets Filling Missing Value

In [89]:
import pandas as pd
import matplotlib.pyplot as plt


data = pd.read_csv("train.csv")

# data = data.head(30)

# data.describe() ## age and cabin and embarked must have some missing value 
# data.info()

print("Before FillNA :\n",data.isna().sum())

## drop is not good option because if we do this we loose all other information
# data.dropna(axis=0 ,how = "any" , inplace=True
data["Age"].fillna(axis=0,method = "ffill" ,limit=5 , inplace=True) ## forward fill 
data["Cabin"].fillna(axis=0,method = "bfill" ,limit=20, inplace=True) ## backward fill
print("Missing Value:\n",data.isna().sum())
#
data.dropna(axis=1,how="any",inplace=True)

Before FillNA :
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
Missing Value:
 PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          1
Embarked       2
dtype: int64

In [90]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.00000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.58156,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.55459,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.42000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.00000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.00000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.00000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.00000,8.000000,6.000000,512.329200